################################################################################
# .gitignore file 
################################################################################

Pastas
/obj
/bin
.vs/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-snippets.json